.red {
  color: red;
}

.remheading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;

  @media screen and (max-width:560px) {
    font-size: 2rem;
  }
}

.remPinParent {
  display: flex;
  justify-content: space-between;
  gap: 10px;


  padding: 15px;

  @media screen and (max-width:560px) {
    padding: 5px;
  }

  @media screen and (max-width:1320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.remProfileImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:25px;
  @media screen and (max-width:1320px) {
    transform: scale(0.85);
  }
}

.coverRem {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (max-width:1320px) {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  @media screen and (max-width:560px) {}

  @media screen and (max-width:560px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.textAreaHead {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

.remBtn {
  background-color: white;
  padding: 0rem 2rem;
  margin-left: auto;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.remImage {
  display: grid;
}

.pinOverlay,
.profilePicOverlay {
  grid-area: 1/1;
}

.pinOverlay {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  align-items: flex-start;
  padding-top: 2rem;
}

.profilePicOverlay {
  padding: 8%;
  background-color: #A72343;
  margin-top: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  border: 0.2rem solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.remPinImage {
  width: 30%;
  max-height: 30%;
}

.remContent {
  height: 55vh !important;
  width: 30vw !important;
  background-color: transparent !important;
  border: 3px solid #411D76 !important;
  border-radius: 10px !important;
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 1.5rem !important;
  overflow-y: auto;
  text-align: left;

  padding: 10px;

  @media screen and (max-width:560px) {
    width: 60vw;
    font-size: 1.3rem;
  }
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width:560px) {
    overflow-y: scroll;
  }
}

.arrow {
  width: 15%;

  @media screen and (max-width:560px) {
    width: 45%;
  }
}
